
button{
	cursor: pointer;
}

.header{
	z-index: 4;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(66,66,66,0.9);
	height: 50px;
	width: 100%;
}

.header_container{
	width: 70%;
	height: 100%;
	min-width: 800px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgba(66,66,66,0.95);
}

.header_logo{
	display: inline-block;
	font-size: 1em;
	color: white;
	text-decoration: none;
	font-weight: bolder;
	margin-right: 3%;
	margin-left: 1%;
	transition: all 0.2s;
}

.header_logo:hover{
	color: rgb(122, 200, 106);
}


.header_control{
	height: 100%;
	display: inline-block;
	font-size: 0.9em;
	color: white;
	text-decoration: none;
	font-weight: bolder;
	float: right;
	padding-top: 20px;
	padding-left: 1%;
	padding-right: 1%;
	transition: all 0.2s;
	box-sizing: border-box;
}

.header_control:hover{
	color: rgb(122, 200, 106);
	background-color: rgb(100,100,100);
	transition: all 0.2s;
}

.header_search{
	display: inline-block;
	font-size: 1.1em;
	padding-right: 40px;
	padding-left: 8px;
	border:0;
	border-radius: 5px;
	width: 24%;
	height: 36px;
	margin-top: 7px;
	background-color: rgb(100,100,100);
	color: white;
	box-sizing: border-box;
}

.header_search:focus{
	outline: rgb(122, 200, 106) solid 1px;
}

.header_search_button{
	height: 36px;
	width: 36px;
	background-color: transparent;
	border: 0;
	border-radius: 5px;
	position: relative;
    left:-40px;
    display: inline-block;
    transition: background-color 0.2s;
    vertical-align: middle;
}

.header_search_button:hover{
	background-color: rgb(122, 200, 106);
	transition: background-color 0.2s;
}

.fa.fa-search{
	font-size: 1.6em;
	color: white;
}