html { 
	height:100%;
}
body { 
	height: 100%;
	margin: 0;
	line-height: 1.2;
	color: rgb(66,66,66);
	background-size: cover;
	transition: background-image 2s linear;
	font-family: sans-serif;
	z-index: -99;
}

a{
	text-decoration: none;
}

.bkg_0{
	background-image: url("../img/bkg/0.jpg");
}

.bkg_1{
	background-image: url("../img/bkg/1.jpg");
}

.bkg_2{
	background-image: url("../img/bkg/2.jpg");
}

#playlog_container{
	width: 75%;
	height: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top:0;
	margin-bottom: 0;
	min-width: 700px;
}

#left_coloumn{
	margin:0;
	margin-left: 5%;
	height: 100%;
	background-color: rgba(255,255,255,0.75);
	width: 37%;
	float: left;
	text-align: center;
	overflow: hidden;
}

#logo{
	border:0;
	margin:0;
	background-color: rgba(0,0,0,0.7);
	font-size: 4.4em;
	color: white;
	text-align: center;
	padding: 5%;
	padding-top: 10%;
	padding-bottom: 10%;
	font-weight: bolder;
}

#logo > span{
	color: rgb(122,200,106);
}

#left_coloumn p{
	text-align: left;
}

#left_coloumn h1{
	text-align: left;
	font-size: 1.3em;
	font-weight: bold;
}

#left_coloumn h2{
	font-size: 1.1em;
	text-align: left;
	font-weight: bold;
}

#left_coloumn h3{  /*small*/
	text-align: left;
	font-size: 0.8em;
	font-weight: normal;
}

button{
	cursor: pointer;
}

#left_coloumn button {
	width: 40%;
	height: 9%;
	padding:3%;
	background-color: rgb(122, 200, 106);
	border-style: none;
	font-size: 1.1em;
	font-weight: bold;
	border-radius: 5px;
	color: white;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 8%;
	font-family: sans-serif;
	transition: background-color 0.2s;
}


#left_coloumn button:hover {
	background-color: rgb(109, 159, 192);
	transition: background-color 0.2s;
}

#left_coloumn input[type="text"], input[type="password"]{
	width: 100%;
	font-size: 1.1em;
	padding: 1%;
	margin-top: 4%;
	margin-bottom: 4%;
	background-color: transparent;
	border:0;
	border-bottom: 1px solid darkgrey;
	transition: font-size 0.2s ;
}


#left_coloumn input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
    opacity: 0.5;
}

#left_coloumn input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: black;
   opacity:  0.5;
}


#left_coloumn input[type="text"]:focus, input[type="password"]:focus{
	font-size: 1.3em;
}

#welcome_area{
	padding:17%;
	padding-top: 8%;
}

#welcome_area a{
	cursor: pointer;
	color: rgb(109, 159, 192);
}

#welcome_area a:hover{
	text-decoration: underline;
}

#right_coloumn{
	padding-top: 33%;
	padding-left:17%;
	float:left;
	width:40%;
	position: relative;
}

#left_coloumn #error_p {
	padding: 3%;
	color:red;
	background-color: rgb(255,169,169);
	text-align: center;
	font-size: 11pt;
	border-radius: 5px;
	margin-bottom: 30px;
}

#game_link{
	opacity: 0.8;
	position: absolute;
	top: 5%;
	right: 12%;
	width: 30px;
	height: 30px;
	background-color: rgb(66,66,66);
	color: white;
	padding:10px;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.5s;
}

#game_link:hover{
	width: 200px;
	transition: all 0.5s;
}

#game_link > p:last-child{
	float:right;
	text-align: center;
	margin: 0;
}

#game_link > p:first-child{
	margin: 0;
	display: none;
	width: 0;
}

#game_link:hover > p:first-child{
	display: block;
	float:left;
	width: 70%;
	transition: all 0.4s;
}


#right_coloumn input[type="text"]{
	opacity: 0.8;
	background-color: rgb(66,66,66);
	padding: 2%;
	border:0;
	border-radius:5px; 
	font-size: 1.15em;
	width: 75%;
	height: 40px;
	color: white;
	margin-bottom: 14%;
	padding-right: 50px;
	box-sizing: border-box;

}

#right_coloumn input[type="text"]:focus{
	opacity: 0.9;
	outline: rgb(122, 200, 106) solid;
}


.search_button{
	width: 40px;
	height: 40px;
	background-color: transparent;
	border:0;
	border-radius: 5px;
	position: relative;
    left:-44px;
    transition: all 0.2s ease-in;
    box-sizing: border-box;
    vertical-align: top;
}

.search_button:hover{
	background-color: rgb(122, 200, 106);
	transition: all 0.2s ease-in;
}

.fa{
	font-size: 2em;
	color: white;
}